@using HabitTrack_UI.Components.Auth
@using HabitTrack_UI.Services.Auth
@using System.Security.Claims

@inject AuthService AuthService
@inject NavigationManager Navigation

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <NavLink class="navbar-brand" href="">
            HabitTrack
        </NavLink>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
            </ul>

            <AuthorizeView>
                <Authorized>
                    <span class="navbar-text me-3">
                        @context.User.FindFirst(ClaimTypes.Email)?.Value
                    </span>

                    <LogoutButton></LogoutButton>
                </Authorized>

                <NotAuthorized>
                    <NavLink class="btn btn-outline-light btn-sm me-2" href="login">
                        Login
                    </NavLink>
                    <NavLink class="btn btn-light btn-sm" href="register">
                        Register
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</nav>
