@page "/login"
@* @layout AuthLayout; *@
@attribute [AllowAnonymous]

@using System.ComponentModel.DataAnnotations
@using HabitTrack_UI.Models;
@using HabitTrack_UI.Services
@using HabitTrack_UI.Services.Auth
@using HabitTracker.Application.DTOs
@using Microsoft.AspNetCore.Authorization

@inject AuthService AuthService
@inject NavigationManager Nav

<h3>Hello!</h3>
<p>Login to get started</p>

<EditForm Model="Model" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <div>
        <label>Email:</label>
        <InputText @bind-Value="Model.Email" placeholder="your email" />
        <ValidationMessage For="@(() => Model.Email)" />
    </div>

    <div>
        <label>Password:</label>
        <InputText @bind-Value="Model.Password" type="password" placeholder="password" />
        <ValidationMessage For="@(() => Model.Password)" />
    </div>

    @if (HasLoginError)
    {
        <p class="error">Invalid credentials</p>
    }

    <button type="submit" disabled="@IsSubmitting">
        @(IsSubmitting ? "Loggin in..." : "Loggin")
    </button>

    <div>
        <NavLink href="/register">I don't have an account</NavLink>
    </div>
    <p>Forgot password</p>
</EditForm>

@code {
    private LoginModel Model = new LoginModel();
    private bool IsSubmitting;
    private bool HasLoginError;

    private async Task HandleLogin()
    {
        HasLoginError = false;
        IsSubmitting = true;

        try
        {
            var request = new LoginRequest
            {
                Email = Model.Email,
                Password = Model.Password
            };

            await AuthService.LoginAsync(request);

            Nav.NavigateTo("/");
        }
        catch
        {
            HasLoginError = true;
        }
        finally
        {
            IsSubmitting = false;
            Model.Password = string.Empty;
        }
    }
}
