@page "/login"
@layout AuthLayout;
@attribute [AllowAnonymous]

@using System.ComponentModel.DataAnnotations
@using HabitTrack_UI.Models;
@using HabitTrack_UI.Models.ErrorModels
@using HabitTrack_UI.Services
@using HabitTrack_UI.Services.AppErrorService
@using HabitTrack_UI.Services.Auth
@using HabitTracker.Application.DTOs
@using Microsoft.AspNetCore.Authorization

@inject AuthService AuthService
@inject NavigationManager Nav

<div class="card shadow-sm p-4" style="width: 100%; max-width: 420px;">

    <div class="mb-4 text-center">
        <h3 class="fw-bold">Hello!</h3>
        <p class="text-muted mb-0">Login to get started</p>
    </div>

    <EditForm Model="Model" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <label class="form-label">Email</label>
            <InputText class="form-control"
                        @bind-Value="Model.Email"
                        placeholder="you@example.com" />
            <ValidationMessage For="@(() => Model.Email)" class="text-danger small" />
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <InputText class="form-control"
                        type="password"
                        @bind-Value="Model.Password"
                        placeholder="Your password" />
            <ValidationMessage For="@(() => Model.Password)" class="text-danger small" />
        </div>

        @if (LoginErrorMessage is not null)
        {
            <div class="alert alert-danger py-2">
                @LoginErrorMessage
            </div>
        }

        <button type="submit"
                class="btn btn-primary w-100"
                disabled="@IsSubmitting">
            @(IsSubmitting ? "Logging in..." : "Login")
        </button>

        <div class="text-center mt-3">
            <NavLink href="/register" class="d-block">
                I don't have an account
            </NavLink>

            <a href="#" class="text-muted small">
                Forgot password?
            </a>
        </div>
    </EditForm>

</div>


@code {
    private LoginModel Model = new LoginModel();
    private bool IsSubmitting;
    private string? LoginErrorMessage;

    private async Task HandleLogin()
    {
        LoginErrorMessage = null;
        IsSubmitting = true;

        try
        {
            var request = new LoginRequest
            {
                Email = Model.Email,
                Password = Model.Password
            };

            await AuthService.LoginAsync(request);

            Nav.NavigateTo("/");
        }
        catch (AppException ex)
        {
            if (ex.Error.Type == ErrorType.Unauthorized)
            {
                LoginErrorMessage = "Invalid credentials";
            }
        }
        finally
        {
            IsSubmitting = false;
            Model.Password = string.Empty;
        }
    }
}
