<div class="container">
    <div>
        <button>Add new habit</button>
    </div>
    <div>
        <p>Add New Habit</p>
        <span>X</span> @*Icon to close/minimize this section*@
        <EditForm>
            <div>
                <label>Habit name*</label>
                <InputText placeholder="e.g., do house chores"></InputText>
            </div>
            <div>
                <label>Description (optional)</label>
                <InputTextArea palceholder="Add any notes or details about this habit..."></InputTextArea>
            </div>
            <div>
                <button>Add habit</button>
                <button>Cancel</button>
            </div>
        </EditForm>
    </div>
</div>

@code {

}
