
@inject NavigationManager Navigate 

<div class="list-group-item d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center gap-3">
        <input type="checkbox" checked="@Habit.IsCompletedToday"
               @onchange="OnChanged" />

        <span class="@TitleClass">@Habit.Title</span>
    </div>

    <div class="d-flex justify-content-between gap-2">
        <button class="btn btn-sm btn-outline-danger"
                @onclick="OnDelete">
            Delete
        </button>
        <button class="btn btn-sm btn-outline-info"
                @onclick="GoToDetails">
            View
        </button>
    </div>
</div>

@code {
    [Parameter] public HabitTodayDTO Habit { get; set; } = default!;
    [Parameter] public EventCallback<HabitTodayDTO> OnToggleCompleted { get; set; }
    [Parameter] public EventCallback<Guid> OnDeleteHabit { get; set; }

    private string TitleClass =>
        Habit.IsCompletedToday ? "text-decoration-line-through text-muted" : "";

    private async Task OnChanged(ChangeEventArgs e)
    {
        await OnToggleCompleted.InvokeAsync(Habit);
    }

    private async Task OnDelete()
    {
        await OnDeleteHabit.InvokeAsync(Habit.Id);
    }

    private void GoToDetails()
    {
        Navigate.NavigateTo($"/habits/{Habit.Id}");
    }
}