

<div class="container">
    <p>Your Habits</p>
    @if (!Habits.Any())
    {
        <div>
            <p>No habits yet!</p>
            <p>Add your first habit above to get started on your journey.</p>
        </div>
    }
    else
    {
        <div class="list-group">
            @foreach (var habit in Habits)
            {
                <HabitItem @key="habit.Id" 
                    Habit="habit"
                           OnToggleCompleted="OnToggleHabit" />
            }
        </div>
    }
</div>

@code {
    [Parameter] public List<HabitTodayDTO> Habits { get; set; } = [];
    [Parameter] public EventCallback<HabitTodayDTO> OnToggleHabit { get; set; }
}
